<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body >
    <!-- loader  -->

    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="/">Home</a> </li>

                                            <li class="active"> <a href="#testimonial">Testimonial</a> </li>


                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->

        </div>
        </div>
    </header>
    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="about-box">
                        <h3> Welcome to our Coding Site</h3>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->
    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="about-box">
                        <h3> ABOUT US</h3>
                        <span>Coding for Interviews</span>
                        <% if (user != null) { %>

                        <a href="/purpose" class="btn btn-primary"> purpose </a>
                          <br>

                        <a href='/logout'> Logout </a>
                          <br>
                        <a href="/topics"> topics </a>

                        <% } else { %>
                          <h1> Login First </h1>
                          <a href='/login'>Login</a>
                          <br>
                          <a href='/signup'>Signup</a>
                          <br>
                        <a href="/topics"> View the various topics </a>
                          <% } %>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    <!-- our how_it -->

    <!-- end how_it -->


    <!-- clients -->


    <!-- end clients -->

    <!--  footer -->

    <!-- end footer -->
    <!-- Javascript files-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/plugin.js"></script>
    <!-- sidebar -->

</body>

</html>
