<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>purpose</title>
  </head>
  <body>
    <h1> purpose of this seesion is to learn to build authentication </h1>
  </body>
</html>
