<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

  <div class="container contact">
    <h1>Sign Up Page </h1>
    <br>
    <br>
  <div class="row">

  <div class="col-md-9">
  <div class="contact-form">
    <form   method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" required>
      <div class="emaile"></div>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
      <div class="passworde"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>


  <script>
  const forms  = document.querySelector('form');
  const ee = document.querySelector('.emaile');
  const pe = document.querySelector('.passworde');
  forms.addEventListener('submit' , async (e) => {e.preventDefault();
                                        ee.textContent=''
                                        pe.textContent=''
                                    const email= forms.email.value ;const password = forms.password.value;
                                    try {
                                    const res = await fetch('/signup' ,{method:'POST',body:JSON.stringify({email:email,password:password}),
                                  headers:{'Content-Type':'application/json'}}) ;
                                const data = await res.json();
                                console.log(data);
                                if(data.errors)
                                {
                                  ee.textContent=data.errors.email ;
                                  pe.textContent=data.errors.password ;
                                }
                                else
                                {location.assign('/');}
                              }
                                catch(err){
                                console.log(err);}

                              });
   </script>
  </body>
</html>
